<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
        <title>Harry&#8217;s &ndash; Tell Friends, Shave for Free</title>
        <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
        <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

        <meta property="og:title" content="Harry’s is coming!"/>
        <meta property="og:description" content="Shaving is evolving. Didn’t want to leave you all behind. Check out Harry’s here."/>
        <meta property="og:image" content="<%= asset_path("refer/truman.png") %>"/>
        <meta property="og:url" content="<%= root_url %>"/>
        <% if @is_mobile %>
            <% if @bodyId == 'home' %>
                <meta name="viewport" content="width=1600" />
            <% else %>
                <meta name="viewport" content="width=1120" />
            <% end %>
        <% end %>
        <%= stylesheet_link_tag "core.css", :media => "all" %>
        <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>">

<%= yield %>


</body>
</html>
